body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toolbar {
  border: solid grey 1px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

button {
  cursor: pointer;
}

table {
  border: solid grey 1px;
  border-spacing: 0px;
}

td {
  cursor: pointer;
  border: solid grey 1px;
  width: 50px;
  height: 50px;
}

#github-link {
  margin-top: 100px;
}
